
body {
  background-color: #e0cfa4a2;
  /*background-image: url('fondo web.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:#627A7C; 
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  /*  letter-spacing: 0px; */
}


 * {
    margin: 0 auto;
    padding: 0px;
} 

.clearfix{
    height: 80px;
}



  /* HEADER Y MENÚ */


  header {
    width: 100%;
       
}


header nav  {
    width: 100vw;
    margin: 0 auto;
    background-color: #627A7C; 
     
}


header nav ul {
    overflow: hidden;
    list-style: none;

}

header nav ul li {
    margin-top: 5px;
    float: center;
    margin: 5px;
    
     
}
header nav ul li form input[type=search] {  
    border-radius: 14px;
    text-align: center;
    
     
}

header nav ul li a {
     
    padding: 20px;
    text-decoration: none; 
    color:  #E0CFA4; 
    display:block; 
    
}

 header nav ul li span {
    margin-right: 10px;
    text-align: center;
    color: #e0cfa4a2;
    
}


header nav ul li a:hover {
    color: #1d3335;
    text-decoration: none;
        
}



/* ELEMENTOS COMUNES */

.button {
    background-color: #627A7C; 
    border: none;
    color: #E0CFA4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




h1{
    margin-top: 20px;
    color: #627A7C;
    font-family: 'oswald', sans-serif;      
    
}

h2{
    margin-top: 20px;
    font-family: 'oswald', sans-serif;      
    
}

h3{
    margin-top: 20px;
    color: #627A7C;
    font-family: 'oswald', sans-serif;  
    
   
}
h4{
    margin-top:30px;
    font-family: 'oswald', sans-serif;  
    
}

h5{
    margin-top: 20px;
    color: #627A7C;
    font-family: 'oswald', sans-serif;  
    
     
}

p{
    margin-top: 10%;
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 20px;
    text-align: justify; /* ESTO JUSTIFICA TODOS LOS PÁRRAFOS, OJO QUE HAY ALGUNOS 
    CON ID QUE HAY QUE CONFIGURAR APARTE */
  
 }

 li {
    list-style: none;
 }

 #atras{    
     text-align: left;
 }

 #atras a{
     color:#627A7C;
 }


/* INDEX */

#diversidad{
    width: 100%;
    
}
#diversidad img{
    width:100%;
}

  
#prf1{
    color: #627A7C;
    border-radius:5px;
    text-align: justify;  
}


#index2{
    background-color: #627A7C;
    color:#ffffff;
        
  }

  #index2 a{   
    color:#ffffff;
    text-decoration: underline;
    text-align: right;
    
}


  #index2 img{
    margin-bottom: 100px;   
    border-radius: 20px;
 
  }

 
  #index3 img{  
    border-radius: 15px;
}

/*PA FUERA ESTIGMAS*/


#btn-conocenos a{
    color:#E0CFA4;  /*NO VA..*/
   
}

#btn-conocenos{         /*NO VA..*/
    margin:2%;
    background-color: #627A7C;
    border-radius: 10px;
    border: none;
   
}


  /* HISTORIA */

#historia{
    background-color: #627A7C;
    color:#ffffff;

}

#historia div a{   
    color:#ffffff;
    text-align: right;
    
}


 /* HISTORIA + info1*/

 #parrafo2{
    background-color: #627A7C;
    color:#ffffff;

}



  /* PA FUERA ESTIGMAS */

  #pafueraestigmas div a{
    color: #627A7C;
      
}

#pafueraestigmas2 div a{
    color: #627A7C;
    text-align: right;
        
}


#pafueraestigmas button[type=button]{
    margin:2%;
    background-color: #627A7C;
    color:#E0CFA4;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px #1d3335;
    width: 320px;
     
}


#pafueraestigmas button a{   
    color:#E0CFA4;
   
     
}


 /* FORMULARIO VOLUNTARIADO */


 #formulario-voluntariado input[type=submit]{
     margin:2%;
     background-color: #627A7C;
     color:#E0CFA4;
     border-radius: 10px;
     border: none;
     width: 150px; /* ya está puesto arriba en el css de input */
 }
 

#formulario-voluntariado input[type=text],#formulario-voluntariado textarea{
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #627A7C;
    margin-bottom: 2%;
    border: none;
}

#formulario-voluntariado BUTTON{
    margin:2%;
    background-color: #627A7C;
    border-radius: 10px;
    border: none;
    width: 150px; /* ya está puesto arriba en el css de input */
}

#formulario-voluntariado a{
    color :#E0CFA4;
}


#videos div iframe{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #627A7C;
      
 }


/* FORMULARIO CONTACTO */

#formulario-contacto input[type=submit]{
    margin:2%;
    background-color: #627A7C;
    color:#E0CFA4;
    border-radius: 10px;
    border: none;
    width: 150px; /* ya está puesto arriba en el css de input */
}


#formulario-contacto input[type=text],#formulario-contacto textarea{
   width: 350px;
   border-radius: 10px;
   box-shadow: 3px 3px 3px #627A7C;
   margin-bottom: 2%;
   border: none;
}

#formulario-contacto button[type=button]{
    margin:2%;
    background-color: #627A7C;
    color:#E0CFA4;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px #1d3335;
    width: 150px;
     
}

#formulario-contacto button a{   
    color:#E0CFA4;
   
     
}


/* ACTIVIDADES INTERCENTRO */


#actividades-intercentro form{
    display:inline-block;
     
}

#actividades-intercentro button[type=button]{
    margin:2%;
    background-color: #627A7C;
    color:#E0CFA4;
    border-radius: 10px;
    border: none;
     
}

#actividades-intercentro button[type=button] a{
    color:#E0CFA4;
    margin: 10px;
   
     
}

#actividades-intercentro input[type=text],#actividades-intercentro textarea{
   width: 350px;
   border-radius: 10px;
   box-shadow: 3px 3px 3px #627A7C;
   margin-bottom: 2%;
   border: none;
  
}

#actividades-intercentro input[type=email],input[type=password] {
    width: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #627A7C;
    margin-bottom: 2%;
    border: none;
    
 }
 #actividades-intercentro label[for=text],label[for=email], label[for=pwd]{
    margin:1%;
    color:#627A7C;
    border-radius: 10px;
    border: none;
         
}

/* ACTIVIDADES INTERCENTRO 2 */

#actividades-intercentro-2{
    display:block;
     
}

#actividades-intercentro-2 div p{
    text-align: center; 
}


/* CENTRO DIA */

#centro-dia{
    background-color: #627A7C;
    color:#ffffff;
   
}

#centro-dia a{   
    color:#ffffff;
    text-align: right;
   
}

/* CENTRO VIDA */

#centro-vida1{
    background-color: #627A7C;
    color:#ffffff;
   
}

#centro-vida1 a{    
    color:#ffffff;
    text-align: right;
   
}

/* CENTRO VIDA + info 1*/

#centro-vida2{    
    display:flex;
   
}




/* PROGRAMAS JUVENTUD */

#emancipacion div{
    background-color: #627A7C;
    color:#ffffff;
     
}


#alcarrer a{
    color:#627A7C;
    text-align: right; 
}




/* PROGRAMAS FAMILIA */

#prog-familia{
    background-color: #627A7C;
    color:#ffffff;
    box-shadow: 5px 5px 5px #364446; 
       
}

#familia1 a{
    color:#627A7C;
    text-align: right; 
}


#prog-fam2{
    background-color: #627A7C;
    color:#E0CFA4;
   
}

#perinatales div{
    background-color: #627A7C;
    color:#ffffff;
    
   
}

#perinatales div a{
    color:#ffffff;
    text-align: right;  
   
}

#educacion-familiar div a{
    color:#627A7C;
    text-align: right; 
   
}



/* PROGRAMAS EDUCATIVOS */

#progr-educativos div img{
    width: 250px;
    display:block;
    align-content: center;

}

/* CROWFUNDING */

#boton-crowfunding button[type=button]{
    margin:2%;
    background-color: #627A7C;
    color:#E0CFA4;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px #1d3335;
    width: 320px;
     
}

#boton-crowfunding button a{   
    color:#E0CFA4;
   
     
}

#nazactivitardes{
    background-color: #627A7C;
    color:#ffffff;

}

#nazactivitardes h1{   
    color:#ffffff;

}



 /* FOOTER */
 #footer{
     background-color: #627A7C;

    
 }

 #footer h5{   
    color: #E0CFA4;
    font-size: 0.9em;
}

 #footer h5 a{   
    color: #E0CFA4;
}

#footer a{   
    color: #ffffff;
}

#footer p{   
    color: #E0CFA4;
    
}

#footer 



    /* RESPONSIVE */

    @media screen and (max-width:1200px) {
        header nav{
            font-size: 0.6em;
        }
    }

@media screen and (max-width:600px ) {

    header nav {
        width:100%;
        left: -100%;
        margin:0;
        position: fixed;
        z-index: 2;
        font-size: 12px;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom:1px solid rgba(255, 255, 255, 0.3);
    }
    
    
    #carrusel {
        display: none;
       
    }

    #carrusel div img{
        display: none;
        height: auto; 
        max-width: 100%
    }

}
